            background-color: black;
            padding:0.5rem;
            justify-content:space-evenly;
        }
            color:white;
            padding: 3vh 0;
        
            flex-direction: row;
            padding:1vw ;
        .nav{