        }
        padding: 0;
            /* width:100%; */
            flex-direction: row;
        .nav{
            color:white;
            text-decoration: none;
            min-width:350px; min-height:342px;
        .bg h2{